<h1>All tests</h1>
<p>
<%= link_to 'Create new test', new_test_path %>
</p>
<table>
  <tr>
    <th>Author</th>
    <th>Title</th>
    <th>Level</th>
    <th>Category</th>
    <th>Questions</th>
    <th></th>
  </tr>

  <% @tests.each do |test| %>
      <tr>
        <td><%= User.find(test.user_id).name %></td>
        <td><%= test.title %></td>
        <td><%= test.level %></td>
        <td><%= test.category.title %></td>
        <td align="center" ><%= questions_count(test) %></td>
        <td><%= link_to 'Show', test_path(test) %></td>
        <td><%= link_to 'Edit', edit_test_path(test) %></td>
        <td><%= link_to 'Delete', test_path(test),
                method: :delete,
                data: { confirm: 'Are you sure?!'}%></td>
      </tr>
  <% end %>
</table>
