<footer>
  <p><%= current_year %> </p>
  <p>Author: <%= SiteVersion::AUTHOR %> </p>
  <p><%= github_url %></p>
  <p><%=  link_to 'Учебный проект в онлайн-школе Thinknetica', SiteVersion::AUTHOR_SCHOOL %></p>
  <p><%= link_to 'На страницу тестов', tests_path %></p>
</footer>
