<footer>
  <p><%= current_year %> </p>
  <p>Author: <%= author %> </p>
  <p><%= link_to 'TestGuru', github_url %></p>
  <p><%= link_to 'Учебный проект в онлайн-школе Thinknetica', thinknetica %></p>
  <p><%= link_to 'На страницу тестов', tests_path %></p>
</footer>
